<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>delet this</title>
  </head>
  <body>
    <form method="post" action="/posts/<%= @post.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete" id="delete">
    </form>
  </body>
</html>
