<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit your post!</title>
  </head>
  <body>
    <form class="update" action="posts/:id" method="patch">
      <label for="id">what is the id of the post</label>
      <input type="text" name="id">
      <label for="name">what is the name you want</label>
      <input type="text" name="name">
      <label for="content">what content?</label>
      <input type="text" name="content">
      <input type="submit" name="submit">
    </form>
  </body>
</html>